.matching-gift {
  background-color: #e5e1cf;
  padding: 1.5em;
  text-align: center;
}

.matching-gift-title {
  font-size: 3em;
}

.matching-gift-update {
  font-size: .8em;
  margin-bottom: 2em;
}

.matching-gift-text {
  font-size: 1.5em;
}

.matching-gift-block {
  font-size: 1.2em;
}
